addDevice.json
[
    {
        "id": "85f36df497b9880d",
        "type": "tab",
        "label": "AddDevice",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "d7f7f86e7a37087d",
        "type": "ui_form",
        "z": "85f36df497b9880d",
        "name": "",
        "label": "",
        "group": "c54f7acc2280f3a5",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "idDevice",
                "value": "idDevice",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "key",
                "value": "key",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "idDevice": "",
            "key": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 130,
        "y": 160,
        "wires": [
            [
                "272d08c8f7c608bb"
            ]
        ]
    },
    {
        "id": "272d08c8f7c608bb",
        "type": "function",
        "z": "85f36df497b9880d",
        "name": "function 6",
        "func": "msg.payload = msg.payload.idDevice+ \" \" + global.get(\"userName\") + \" \" + msg.payload.key\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 240,
        "y": 160,
        "wires": [
            [
                "714816ea2e834a13"
            ]
        ]
    },
    {
        "id": "714816ea2e834a13",
        "type": "mqtt out",
        "z": "85f36df497b9880d",
        "name": "",
        "topic": "binhluuluong_esp32_key",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5dfc3f24c79652d3",
        "x": 410,
        "y": 160,
        "wires": []
    },
    {
        "id": "0e14a56a4b0949c7",
        "type": "mqtt in",
        "z": "85f36df497b9880d",
        "name": "",
        "topic": "binhluuluong_nodered_addDevice",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5dfc3f24c79652d3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 220,
        "wires": [
            [
                "e73eef50763660e2"
            ]
        ]
    },
    {
        "id": "e73eef50763660e2",
        "type": "function",
        "z": "85f36df497b9880d",
        "name": "function 7",
        "func": "var l = msg.payload.split(\" \")\nif (l[2] == \"T\"){\n    msg.childpath = \"user/\"+l[0]+\"/idDevice/\"+l[1]\n    msg.payload = Date.now()\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 220,
        "wires": [
            [
                "0a7ddabb665bd26a"
            ]
        ]
    },
    {
        "id": "0a7ddabb665bd26a",
        "type": "firebase modify",
        "z": "85f36df497b9880d",
        "name": "",
        "firebaseconfig": "",
        "childpath": "msg.childpath",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 870,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7e9cb9247148ed72",
        "type": "ui_button",
        "z": "85f36df497b9880d",
        "name": "",
        "group": "c54f7acc2280f3a5",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Home\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 170,
        "y": 360,
        "wires": [
            [
                "90f0499bba104510"
            ]
        ]
    },
    {
        "id": "90f0499bba104510",
        "type": "ui_ui_control",
        "z": "85f36df497b9880d",
        "name": "",
        "events": "all",
        "x": 340,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "c54f7acc2280f3a5",
        "type": "ui_group",
        "name": "Default",
        "tab": "8eef4ec8d4e92f2f",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5dfc3f24c79652d3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8eef4ec8d4e92f2f",
        "type": "ui_tab",
        "name": "AddDevice",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    }
]