AddProcess.json
[
    {
        "id": "90023fc953a42b88",
        "type": "tab",
        "label": "AddProcess",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1da8e2248dc206df",
        "type": "function",
        "z": "90023fc953a42b88",
        "name": "function 7",
        "func": "flow.set(\"time\",new Date(msg.payload.year,msg.payload.month - 1,msg.payload.day,msg.payload.hour,msg.payload.minute,msg.payload.second).getTime())\nflow.set(\"ml\",msg.payload.ml)\nflow.set(\"id\",msg.payload.idDevice)\nmsg.childpath = \"user/\" + global.get(\"userName\") + \"/idDevice/\" + flow.get(\"id\")\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 260,
        "y": 220,
        "wires": [
            [
                "396e76fc922dac74"
            ]
        ]
    },
    {
        "id": "831a0a98519e61ed",
        "type": "ui_form",
        "z": "90023fc953a42b88",
        "name": "",
        "label": "",
        "group": "b30d9afca9295298",
        "order": 8,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "idDevice",
                "value": "idDevice",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Hour",
                "value": "hour",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Minute",
                "value": "minute",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Second",
                "value": "second",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Day",
                "value": "day",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Month",
                "value": "month",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Year",
                "value": "year",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "ml",
                "value": "ml",
                "type": "number",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "idDevice": "",
            "hour": "",
            "minute": "",
            "second": "",
            "day": "",
            "month": "",
            "year": "",
            "ml": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "1da8e2248dc206df"
            ]
        ]
    },
    {
        "id": "1407e732244c5592",
        "type": "firebase modify",
        "z": "90023fc953a42b88",
        "name": "",
        "firebaseconfig": "",
        "childpath": "msg.childpath",
        "method": "set",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1820,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "396e76fc922dac74",
        "type": "firebase.once",
        "z": "90023fc953a42b88",
        "name": "",
        "firebaseconfig": "",
        "childpath": "msg.childpath",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 560,
        "y": 220,
        "wires": [
            [
                "9c06818fac842f2f"
            ]
        ]
    },
    {
        "id": "9c06818fac842f2f",
        "type": "function",
        "z": "90023fc953a42b88",
        "name": "function 8",
        "func": "if (msg.payload != null)\n{\n    msg.childpath = \"Device/\" + flow.get(\"id\")\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 220,
        "wires": [
            [
                "5362a79f13c4fcbf"
            ]
        ]
    },
    {
        "id": "5362a79f13c4fcbf",
        "type": "firebase.once",
        "z": "90023fc953a42b88",
        "name": "",
        "firebaseconfig": "",
        "childpath": "msg.childpath",
        "repeatifnull": false,
        "eventType": "value",
        "queries": [],
        "x": 1160,
        "y": 220,
        "wires": [
            [
                "e14063981957d1a0"
            ]
        ]
    },
    {
        "id": "e14063981957d1a0",
        "type": "function",
        "z": "90023fc953a42b88",
        "name": "function 9",
        "func": "if (msg.payload != null)\n{\n    var index = 1;\n    var count = msg.payload.count;\n    while(index <= count)\n    {\n        if (flow.get(\"time\") < msg.payload[\"schedule\" + index].time)\n            index+=1\n        else\n            break\n    }\n    for(var i = count+1;i>index;i--)\n    {\n        msg.payload[\"schedule\" + i] = msg.payload[\"schedule\" + (i-1)]\n    }\n    msg.payload[\"schedule\"+index] = {\"time\":flow.get(\"time\"),\"ml\":flow.get(\"ml\")}\n    msg.payload.count = count + 1\n    msg.childpath = \"Device/\" + flow.get(\"id\")\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1460,
        "y": 220,
        "wires": [
            [
                "1407e732244c5592",
                "fb4635b586fc3384"
            ]
        ]
    },
    {
        "id": "925812c5ab096643",
        "type": "mqtt out",
        "z": "90023fc953a42b88",
        "name": "",
        "topic": "binhluuluong_esp32_schedule",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5dfc3f24c79652d3",
        "x": 1770,
        "y": 300,
        "wires": []
    },
    {
        "id": "fb4635b586fc3384",
        "type": "function",
        "z": "90023fc953a42b88",
        "name": "function 10",
        "func": "if (msg.payload != null) {\n    msg.payload = flow.get(\"id\") + \" \" + (flow.get(\"time\")/1000) + \" \" + flow.get(\"ml\")\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1530,
        "y": 300,
        "wires": [
            [
                "925812c5ab096643"
            ]
        ]
    },
    {
        "id": "a22086b4ac1af6ef",
        "type": "ui_button",
        "z": "90023fc953a42b88",
        "name": "",
        "group": "b30d9afca9295298",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Home\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 190,
        "y": 380,
        "wires": [
            [
                "af7e6dd56b7c7157"
            ]
        ]
    },
    {
        "id": "af7e6dd56b7c7157",
        "type": "ui_ui_control",
        "z": "90023fc953a42b88",
        "name": "",
        "events": "all",
        "x": 360,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "b30d9afca9295298",
        "type": "ui_group",
        "name": "SetTime",
        "tab": "5ab1f8fd495b2cc7",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "5dfc3f24c79652d3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "5ab1f8fd495b2cc7",
        "type": "ui_tab",
        "name": "AddProcess",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    }
]