Device.json
[
    {
        "id": "a16bd32488f57d08",
        "type": "tab",
        "label": "Device",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2d8209021bd8f43f",
        "type": "function",
        "z": "a16bd32488f57d08",
        "name": "function 15",
        "func": "var idDevice = global.get(\"idDevice\")\nmsg.childpath = \"Device/\" + idDevice + '/' \nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 750,
        "y": 260,
        "wires": [
            [
                "f5089513f12ba164"
            ]
        ]
    },
    {
        "id": "f5089513f12ba164",
        "type": "firebase.on",
        "z": "a16bd32488f57d08",
        "name": "",
        "firebaseconfig": "",
        "childpath": "msg.childpath",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 1090,
        "y": 260,
        "wires": [
            [
                "1f0e7647a6d37de0"
            ]
        ]
    },
    {
        "id": "1f0e7647a6d37de0",
        "type": "function",
        "z": "a16bd32488f57d08",
        "name": "function 16",
        "func": "var str = \"\"\nfor(var i = 1; i < msg.payload.count;i++){\n    str += \"---------------schedule \" + i+'-------------<br>'\n    str += msg.payload[\"schedule\" + i].ml + \" ml<br>\"\n    str += new Date(msg.payload[\"schedule\" + i].time)+\"<br><br><br>\"\n}\nmsg.payload = str\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1510,
        "y": 260,
        "wires": [
            [
                "263f16903a2ec6f5"
            ]
        ]
    },
    {
        "id": "18a91c8332728e84",
        "type": "mqtt out",
        "z": "a16bd32488f57d08",
        "name": "",
        "topic": "binhluuluong_esp32_device",
        "qos": "2",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "5dfc3f24c79652d3",
        "x": 820,
        "y": 520,
        "wires": []
    },
    {
        "id": "8c46f0e5ef922448",
        "type": "mqtt in",
        "z": "a16bd32488f57d08",
        "name": "",
        "topic": "binhluuluong_nodered_reserves",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "5dfc3f24c79652d3",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 830,
        "y": 580,
        "wires": [
            [
                "4dccd1a6a7086be6"
            ]
        ]
    },
    {
        "id": "4dccd1a6a7086be6",
        "type": "function",
        "z": "a16bd32488f57d08",
        "name": "function 18",
        "func": "var mess = msg.payload.split(' ')\nif (mess[0] == global.get(\"idDevice\"))\n{\n    msg.payload = mess[1]\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1110,
        "y": 580,
        "wires": [
            [
                "d34a1a0c242b196c",
                "88ab9c46c8cd1b13"
            ]
        ]
    },
    {
        "id": "6c9191f0cd6b0e5d",
        "type": "ui_button",
        "z": "a16bd32488f57d08",
        "name": "",
        "group": "2b7739b6e625a29b",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get Reserves",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "idDevice",
        "payloadType": "global",
        "topic": "topic",
        "topicType": "msg",
        "x": 560,
        "y": 520,
        "wires": [
            [
                "18a91c8332728e84"
            ]
        ]
    },
    {
        "id": "d34a1a0c242b196c",
        "type": "ui_gauge",
        "z": "a16bd32488f57d08",
        "name": "",
        "group": "2b7739b6e625a29b",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "reserves",
        "label": "ml",
        "format": "{{value}}",
        "min": "0",
        "max": "45000",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 1320,
        "y": 580,
        "wires": []
    },
    {
        "id": "a72506a25fd9c29a",
        "type": "ui_button",
        "z": "a16bd32488f57d08",
        "name": "",
        "group": "6bf302b0b3993bd3",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Get Schedule",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 560,
        "y": 260,
        "wires": [
            [
                "2d8209021bd8f43f"
            ]
        ]
    },
    {
        "id": "c0193863cde21eac",
        "type": "ui_button",
        "z": "a16bd32488f57d08",
        "name": "",
        "group": "33d50ddb6bcec63c",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"Home\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 776.25,
        "y": 387.5,
        "wires": [
            [
                "8fbde5b7d3c1f8c2"
            ]
        ]
    },
    {
        "id": "8fbde5b7d3c1f8c2",
        "type": "ui_ui_control",
        "z": "a16bd32488f57d08",
        "name": "",
        "events": "all",
        "x": 956.25,
        "y": 387.5,
        "wires": [
            []
        ]
    },
    {
        "id": "263f16903a2ec6f5",
        "type": "ui_template",
        "z": "a16bd32488f57d08",
        "group": "6bf302b0b3993bd3",
        "name": "",
        "order": 2,
        "width": 0,
        "height": 0,
        "format": "<!-- <style>\n.main\n{\n    height: 600px;\n    width: 200px;\n    background: lightblue;\n\n}\n</stype> -->\n<div class = \"main \"ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1700,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "36cb424660212db2",
        "type": "http request",
        "z": "a16bd32488f57d08",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "body",
        "url": "https://maker.ifttt.com/trigger/WARNING/with/key/diSGpPWAaLrt7Hd29MJVS0bNKBi7yq_S2IkOKDrIv_D",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1510,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "88ab9c46c8cd1b13",
        "type": "function",
        "z": "a16bd32488f57d08",
        "name": "function 19",
        "func": "if (msg.payload != null) {\n    if (msg.payload < 300) {\n        msg.payload = { \"value1\": global.get(\"idDevice\") }\n        return msg;\n    }\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1330,
        "y": 640,
        "wires": [
            [
                "36cb424660212db2"
            ]
        ]
    },
    {
        "id": "8c4b1c925d8e7e8c",
        "type": "ui_spacer",
        "z": "a16bd32488f57d08",
        "name": "spacer",
        "group": "6bf302b0b3993bd3",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "5dfc3f24c79652d3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2b7739b6e625a29b",
        "type": "ui_group",
        "name": "Reserves",
        "tab": "7c31e69f30dbadaa",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6bf302b0b3993bd3",
        "type": "ui_group",
        "name": "Schedule",
        "tab": "7c31e69f30dbadaa",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "33d50ddb6bcec63c",
        "type": "ui_group",
        "name": "back to Home",
        "tab": "7c31e69f30dbadaa",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c31e69f30dbadaa",
        "type": "ui_tab",
        "name": "Device",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    }
]