fl.json
[
    {
        "id": "f8d28f69fda41306",
        "type": "ui_form",
        "z": "bd20f11f48384345",
        "name": "",
        "label": "",
        "group": "0e6d738f8bfec35f",
        "order": 0,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "idDevice",
                "value": "idDevice",
                "type": "text",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "idDevice": ""
        },
        "payload": "",
        "submit": "submit",
        "cancel": "cancel",
        "topic": "topic",
        "topicType": "msg",
        "splitLayout": "",
        "className": "",
        "x": 510,
        "y": 320,
        "wires": [
            [
                "c81c0602e38f58c2"
            ]
        ]
    },
    {
        "id": "c81c0602e38f58c2",
        "type": "function",
        "z": "bd20f11f48384345",
        "name": "function 6",
        "func": "flow.set(\"ID\", msg.payload.idDevice)\n// flow.set(\"time\", msg.payload.time)\n// flow.set(\"date\", msg.payload.date)\n// flow.set(\"volume \", msg.payload.volume )\nmsg.childpath = \"Device/\" + msg.payload.idDevice\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 320,
        "wires": [
            [
                "83771da745c8dcf6",
                "002d1e6e8dd88783"
            ]
        ]
    },
    {
        "id": "83771da745c8dcf6",
        "type": "firebase modify",
        "z": "bd20f11f48384345",
        "name": "",
        "firebaseconfig": "",
        "childpath": "msg.childpath",
        "method": "push",
        "value": "msg.payload",
        "priority": "msg.priority",
        "x": 1000,
        "y": 320,
        "wires": [
            [
                "aac6884a2dec691a"
            ]
        ]
    },
    {
        "id": "002d1e6e8dd88783",
        "type": "debug",
        "z": "bd20f11f48384345",
        "name": "debug 3",
        "active": true,
        "tosidebar": false,
        "console": true,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "aac6884a2dec691a",
        "type": "debug",
        "z": "bd20f11f48384345",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 400,
        "wires": []
    },
    {
        "id": "0e6d738f8bfec35f",
        "type": "ui_group",
        "name": "SetTime",
        "tab": "a161bce6b6a73e98",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a161bce6b6a73e98",
        "type": "ui_tab",
        "name": "AddProcess",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]