home.json
[
    {
        "id": "a2fc58594af88863",
        "type": "tab",
        "label": "Home",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cdbb44ba5b37245a",
        "type": "ui_button",
        "z": "a2fc58594af88863",
        "name": "",
        "group": "cf5d780e9690fd28",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Add Device",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"AddDevice\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 160,
        "wires": [
            [
                "ab71ba7977f5a54e"
            ]
        ]
    },
    {
        "id": "98c70b8415d2b623",
        "type": "ui_button",
        "z": "a2fc58594af88863",
        "name": "",
        "group": "cf5d780e9690fd28",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Add Process",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "{\"tab\":\"AddProcess\"}",
        "payloadType": "json",
        "topic": "topic",
        "topicType": "msg",
        "x": 330,
        "y": 220,
        "wires": [
            [
                "45b66217d3cf7c19"
            ]
        ]
    },
    {
        "id": "ab71ba7977f5a54e",
        "type": "ui_ui_control",
        "z": "a2fc58594af88863",
        "name": "",
        "events": "all",
        "x": 500,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "45b66217d3cf7c19",
        "type": "ui_ui_control",
        "z": "a2fc58594af88863",
        "name": "",
        "events": "all",
        "x": 500,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "23ee7b6eb78a1030",
        "type": "ui_text_input",
        "z": "a2fc58594af88863",
        "name": "",
        "label": "idDevice",
        "tooltip": "",
        "group": "0f5ad18e9dcba713",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 320,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "dc55b76c9b0c2dd4",
        "type": "ui_button",
        "z": "a2fc58594af88863",
        "name": "",
        "group": "0f5ad18e9dcba713",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 310,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "e7f728212ad59a52",
        "type": "ui_text",
        "z": "a2fc58594af88863",
        "group": "12dc0117bf8444cd",
        "order": 0,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "x": 830,
        "y": 240,
        "wires": []
    },
    {
        "id": "7fc4b3aa14019868",
        "type": "firebase.on",
        "z": "a2fc58594af88863",
        "name": "",
        "firebaseconfig": "",
        "childpath": "\"user/\" + global.get(\"userName\")",
        "atStart": true,
        "eventType": "value",
        "queries": [],
        "x": 430,
        "y": 300,
        "wires": [
            [
                "e7f728212ad59a52"
            ]
        ]
    },
    {
        "id": "cf5d780e9690fd28",
        "type": "ui_group",
        "name": "Default",
        "tab": "ebbd1cf85ee67044",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0f5ad18e9dcba713",
        "type": "ui_group",
        "name": "Device's schedule",
        "tab": "ebbd1cf85ee67044",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "12dc0117bf8444cd",
        "type": "ui_group",
        "name": "List Device",
        "tab": "ebbd1cf85ee67044",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ebbd1cf85ee67044",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": true
    }
]